body,
html {
  font-family: Consolas;
  padding: 0;
  margin: 0;
  background-color: rgb(71, 67, 67);
}

.header {
  background: url(https://upload.wikimedia.org/wikipedia/commons/0/06/Cloud_sky_over_Brest.jpg)
    no-repeat center top;
  background-size: cover;
  margin: 0.5rem;
  height: 13rem;
  padding: 0.5rem;
  color: antiquewhite;
}

.flex-container > div {
  background-color: #201e1e;
  margin: 0.5rem;
  height: 30rem;
  display: flex;
  
}

.toggle-text {
  background: none;
  color: whitesmoke;
  width: calc(50% - 1rem);
  height: 77%;
  font-size: 3rem;
  border-style: none;
  position: absolute;
  overflow: hidden;
}
.toggle-text:hover {
  
  transition:  3s;
  transform: rotateY(360deg);
  
}

/*style four sections*/

.top-left-box {
  width: calc(50% - 1rem);
  float: left;
}

.top-right-box {
  width: calc(50% - 1rem);
  float: right;
}

.bottom-left-box {
  width: calc(50% - 1rem);
  float: left;
}

.bottom-right-box {
  width: calc(50% - 1rem);
  float: right;
}

p {
  color: rgba(207, 227, 235, 0.603);
  text-indent: 1rem;
  padding: 1rem; 
  position: inherit;
}
